.information_page {
    height: 450px;
    position: relative;
}

@media(max-width:768px) {
    .information_page {
        height: auto;
    }
}

.background_sheet {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
    }
}

.information_page_right {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.info_advert {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;



    // @media (max-width:1612px) {
    //     .shape_blur_img {
    //         width: 400px;
    //         right: -10%;
    //         top: 12%;
    //     }

    // }

    // @media (max-width:1200px) {
    //     .shape_blur_img {
    //         width: 400px;
    //         right: -10%;
    //         top: -5%;
    //     }
    // }

    // @media (max-width:768px) {
    //     .shape_blur_img {
    //         display: none;
    //     }
    // }

    .adv_info_cont {
        display: flex;
        flex-direction: column;
        gap: 35px;

        h1 {
            font-size: 30px;
            text-transform: uppercase;
            position: relative;

            .shape_blur_img {
                position: absolute;
                z-index: -1;
                right: 0%;
                transform: translateY(-50%);
                width: 500px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            @media(max-width:1200px) {
                .shape_blur_img {
                    width: 350px;
                    transform: translate(-20%, -50%);
                }
            }

            @media(max-width:768px) {
                .shape_blur_img {
                    display: none;
                }
            }
        }

        .info_text {
            font-size: 18px;
            font-weight: 500;

            p span {
                margin: 4px 5px 0 0;
                height: 0 !important;
            }

            .info_text_icon {
                color: var(--red);
                float: left;
            }
        }

        .adv_info_btns {
            display: flex;
            width: 100%;
            justify-content: space-between;

            button {
                width: 30%;
            }
        }

        .adv_info_btns button:hover {
            cursor: pointer;
            transform: translateY(-12%);
        }
    }

}

@media screen and (max-width:1200px) {
    .info_advert {
        width: 55%;
        padding: 0px 20px 0 0;
    }

    .adv_info_cont {
        display: flex;
        flex-direction: column;
        gap: 30px !important;

        h1 {
            font-size: 30px !important;
            text-align: center;
        }

        .info_text {
            font-size: 16px !important;
            font-weight: bold;
        }

        .adv_info_btns {
            flex-direction: column;
            gap: 20px;

            button {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .info_advert {
        width: 95%;
        margin: 20px auto;
        padding: 0;


        .adv_info_cont {
            gap: 25px !important;

            h1 {
                font-size: 26px !important;
            }

            .info_text {
                font-size: 14px !important;
            }
        }
    }
}