@mixin clients_text_line($color, $backColor) {
    padding-top: 30px;
    width: 100%;

    .rotated_text_btn {
        position: absolute;
        padding: 2px 25px;
        transform: rotate(-2deg);
        font-weight: 600;
        background-color: $color;
        display: inline-block;
        border-radius: 0;

        span {
            text-transform: uppercase;
            color: $backColor;
            width: 100%;
            font-size: 45px;
            text-align: center;
            transform: rotate(2deg);
        }

        @media(max-width:1440px) {
            span {
                font-size: 36px;
            }
        }

        @media(max-width:1140px) {
            span {
                font-size: 28px;
            }
        }

        @media(max-width:768px) {
            span {
                font-size: 22px;
            }
        }

        @media(max-width:501px) {
            span {
                font-size: 18px;
            }
        }
    }

    .line {
        position: absolute;
        z-index: -1;
        transform: translateY(650%);
        height: 3px;
        width: 100%;
        background-color: $color;
    }

    @media(max-width:768px) {
        .line {
            transform: translateY(500%);
        }
    }

    @media(max-width:600px) {
        .line {
            width: 90%;
        }
    }
}

.categ_text {
    position: relative;
    width: 100%;
    height: 100px;
    @include clients_text_line(var(--red), white);
}


@media (max-width: 512px) {
    .categ_text {
        height: 75px;
    }
}