.head {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 10000;
    background-color: white;

    .header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        width: 130px;
        cursor: pointer;
    }

    .elements {
        display: flex;
        justify-content: space-between;
        width: 70%;

        a {
            font-size: 24px;
            text-decoration: none;
            color: black;
            position: relative;
            display: inline-block;
            border-bottom: 2px solid rgba(0, 0, 0, 0);
            transition: 0.3s;
        }

        a::after {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 2.1rem;
            width: 100%;
            border-bottom: 2px solid var(--red);
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);

        }

        a:hover::after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .translation {

        .rus,
        .uz {
            width: 50px;
            height: 30px;
            border-radius: 10px 0 0 10px;
            margin: 5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            text-transform: uppercase;
            color: white;
            font-weight: 500;
            cursor: pointer;
            background-color: var(--red);
        }
    }


    .burger_menu {
        width: 45px;
        height: 35px;
        background-color: rebeccapurple;
        border-radius: 5px;
        background-color: rgba(245, 245, 245, 0.822);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        display: none;
        transition: 0.3s;
        list-style: none;

        li {
            border-radius: 25px;
            width: 75%;
            height: 2px !important;
            background-color: red;

        }

        &:hover {

            li:nth-child(1) {
                width: 80%;

            }

            li:nth-child(2) {
                width: 65%;
            }

            li:nth-child(3) {
                width: 80%;
            }
        }



    }

    @media (max-width: 1400px) {
        .elements a {
            font-size: 20px;
        }

        .logo img {
            width: 130px;
        }
    }

    @media (max-width: 1200px) {
        .elements a {
            font-size: 18px;
        }

        .translation {

            .rus,
            .uz {
                width: 40px;
                height: 25px;
                font-size: 14px;
            }
        }
    }


    @media (max-width: 992px) {
        .elements a {
            font-size: 16px;
        }

        .elements a::after {
            height: 24px;
        }

        .logo img {
            width: 100px;
        }

    }
}

@media(max-width:992px) {
    .head {
        top: 45px;

        .header {
            height: 90px;

        }
    }
}

@media(max-width:768px) {
    .head {
        top: 0px;

        .header {
            height: 78px;
        }
    }
}

@media(max-width:768px) {
    .head {
        .burger_menu {
            display: flex;
        }

        .translation {
            display: none;
        }

        .elements {
            display: none;
        }


        .logo img {
            width: 90px;
        }
    }

}